# Yocto/BitBake build directory
build/

# Kas specific
.kas/
.kas_shell_history

# Secrets and local environment
.env
keys/

# Sub-repositories managed by kas
bitbake/
openembedded-core/
meta-yocto/
meta-openembedded/
meta-raspberrypi/
meta-rauc/

# Temporary files
tmp.txt
*.swp
*.bak
*~
